<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/meta/meta-tags' %>
    <title>Zerv.io | <%= @page_title %></title>
    <%= render 'shared/includes/external-css' %>
    <%= render 'shared/includes/assets' %>
    <%= content_for :stylesheets %>
  </head>
  <body>
    <%= render 'shared/ui/nav-bar-top' %>
    <%= render 'shared/ui/main-layout' %>
    <%= render 'shared/ui/components/toast' %>
    <%= render 'shared/ui/components/modal' %>
    <%= render 'shared/includes/external-javascript' %>

    <%= content_for :javascripts %>
  </body>
</html>

